include MANIFEST.in
include requirements.txt
include *.py
include *.md
recursive-include fitness_wellness *.html
recursive-include fitness_wellness *.ico
recursive-include fitness_wellness *.js
recursive-include fitness_wellness *.json
recursive-include fitness_wellness *.md
recursive-include fitness_wellness *.png
recursive-include fitness_wellness *.py
recursive-include fitness_wellness *.svg
recursive-include fitness_wellness *.txt
recursive-exclude fitness_wellness *.pyc
